<a href="https://colab.research.google.com/github/sanoofkvr-dev/ict_assignment/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python function to find the Max of three numbers

In [15]:
number1 = 10
number2 = 25
number3 = 15

maximum_number = find_max_of_three(number1, number2, number3)
print(f"The maximum of {number1}, {number2}, and {number3} is: {maximum_number}")

The maximum of 10, 25, and 15 is: 25

2. Write a Python function to sum all the numbers in a list.
Sample List : [18, 12, 30,10, 7]
Expected Output : 77

In [16]:
numbers_list = [18, 12, 30, 10, 7]

total_sum = sum_list_numbers(numbers_list)

print(f"The sum of the numbers in the list {numbers_list} is: {total_sum}")

The sum of the numbers in the list [18, 12, 30, 10, 7] is: 77

3. Python program to insert a number to any position in a list (Get the number
to be inserted and position from the user)

In [19]:
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")

number_to_insert = int(input("Enter the number to insert: "))

position = int(input("Enter the position (index) to insert the number: "))

my_list.insert(position, number_to_insert)

print(f"Modified list after inserting {number_to_insert} at position {position}: {my_list}")

Original list: [10, 20, 30, 40, 50]
Enter the number to insert: 35
Enter the position (index) to insert the number: 3
Modified list after inserting 35 at position 3: [10, 20, 30, 35, 40, 50]

4. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [20]:
person_info = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
print(f"Original dictionary: {person_info}")

person_info['location'] = person_info.pop('city')

print(f"Modified dictionary: {person_info}")

Original dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Modified dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

5. Write a Python program to change Bradâ€™s salary to 8500 in the following
dictionary.
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 5

In [21]:
employees = {
    "employee1": {
        "name": "Brad",
        "age": 30,
        "salary": 8000
    },
    "employee2": {
        "name": "Anna",
        "age": 28,
        "salary": 9000
    }
}

print(f"Original nested dictionary: {employees}")

employees["employee1"]["salary"] = 8500

print(f"Modified nested dictionary: {employees}")

Original nested dictionary: {'employee1': {'name': 'Brad', 'age': 30, 'salary': 8000}, 'employee2': {'name': 'Anna', 'age': 28, 'salary': 9000}}
Modified nested dictionary: {'employee1': {'name': 'Brad', 'age': 30, 'salary': 8500}, 'employee2': {'name': 'Anna', 'age': 28, 'salary': 9000}}

6. Write a program to copy elements 44 and 55 from the following tuple into a
new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [22]:
original_tuple = (11, 22, 33, 44, 55, 66)

element_44 = original_tuple[3]
element_55 = original_tuple[4]

new_tuple = (element_44, element_55)

print(f"Original tuple: {original_tuple}")
print(f"New tuple with elements 44 and 55: {new_tuple}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

7. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,
60, 70, 50,83,567,50,81

In [23]:
my_tuple = (50, 10, 60, 70, 50, 83, 567, 50, 81)

count_of_50 = my_tuple.count(50)

print(f"Original tuple: {my_tuple}")
print(f"The number of occurrences of 50 in the tuple is: {count_of_50}")

Original tuple: (50, 10, 60, 70, 50, 83, 567, 50, 81)
The number of occurrences of 50 in the tuple is: 3