# Q1

In [8]:
def max_of_three(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c
num1 = 32
num2 = 45
num3 = 95
print('the maximum number is',max_of_three(num1,num2,num3))

the maximum number is 95

# Q2

In [13]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
sample_list = [19, 14, 20, 20, 6]
result = sum_list(sample_list)
print(result)

79

# Q3

In [21]:
my_list = [1, 2, 3, 4, 5]
num = int(input('enter the number to insert: '))
pos = int(input('enter the position (index): '))
my_list.insert(pos, num)
print('updated list:',my_list)

enter the number to insert: 52
enter the position (index): 45
updated list: [1, 2, 3, 4, 5, 52]

# Q4

In [20]:
sample_dict = {'name':'kelly','age':25,'salary':8000,'city':'new yourk'}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new yourk'}

# Q5

In [5]:
sample_dict = {
    'emp1':{'name':'jhon','salary': 7500},
    'emp2':{'name':'emma','salary': 8000},
    'emp3':{'name':'brad','salary': 500}
}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'jhon', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'brad', 'salary': 8500}}

# Q6

In [3]:
tuple1 = (11,22,33,44,55,66)
new_tuple = tuple1[3:5]
print(new_tuple)

(44, 55)

# Q7

In [4]:
tuple1 = (50,10,60,70,50,83,567,50,81)
count_50 = tuple1.count(50)
print('number of occurrences of 50:',count_50)

number of occurrences of 50: 3